<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel ='stylesheet' href ="{{url_for('static', filename = 'css/style.css')}}">
    <title>hobby</title>
</head>
<body>
<h1>this is my hobby</h1>
<p>Футбол — это самый популярный командный вид спорта в мире, где две команды по 11 человек пытаются забить мяч в ворота соперника ногами или другими частями тела (кроме рук)
    большее количество раз, чем соперник, в течение двух таймов по 45 минут. Побеждает команда, забившая больше голов, а вратарь – единственный игрок, которому разрешено касаться мяча руками в своей штрафной площади.
</p>
<img src ="{{url_for('static', filename='img/3.png')}}" alt = 'img' Width = '440' Height = '400'>
<img src ="{{url_for('static', filename ='img/4.png')}}" alt = 'img' Width = '440' Height = '400'>
<a href =https://www.championat.com/stat/football/#2025-12-05>сегодняшние матчи</a>
</body>
</html>