<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <p> hello world</p>
    <p>this is my first project</p>
<!--    {% for user in users %}-->
    <p>my name is {{name}}</p>
<!--    <p> i am {{user.age}} years old</p>-->
<!--    {% endfor %}-->


<!--    {% for user in users %}-->
<!--    {% if user.age >10 %}-->
    <p>пользователь {{name}}</p>
<!--    {% endif %}-->
<!--    {% endfor %}-->


<h4>Task 1</h4>
    {set x,y = 3,2 %}
    {{(x**2+(y-6)/2.1*1.2)round(2)}}
    <p></p>

    <img src ="{{url_for('static', filename='1.png')}}">
    <p><a href = "{{url_for('page_p1')}}">обо мне</a></p>
</body>
</html>