section.logo{
    width: 90%;
    margin:   60px auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.logo ul{
    list-style-type:none;
    display: inline-block;
    margin-left:160px;

}

.logo ul a{
    color: darkviolet;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;
    padding: 0 17px;


}

.logo ul a:hover{
    border-bottom:6px solid #0303d2;
    padding-bottom: 55px;
}
.logo ul a:focus, .logo ul a:active{
    border-bottom:6px solid #0303d2;
    padding-bottom: 55px;
    color:red;
}
.logo li{
    display: inline-block;
    margin: 0 20px;

}
.logo div:last-child{
    background:url('title-back.jpg') no-repeat;
    background-size: cover;
    color: white;
    padding-bottom: 170px;
}
.p1{
    padding-top: 170px;
    font-size:  42px;
    margin-bottom: 5px;
}
.p2{
    text-transform: uppercase;
    font-size: 48px;
    width: 55%;
    margin: 0 auto;
}
.p3{
    font-style: italic;
    width: 25%;
    margin: 20px auto;
}
.p4 a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border:2px solid white;
    padding: 20px 60px;

}


